@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
    padding-left:220px;
    padding-right: 220px;
    
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
    box-shadow: 4px 0px 0px 0px rgba(0,0,0,.06);
     
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: baseline;
    gap: 20px;
    padding: 10px 30px;
}

li {
    text-decoration: none;
}

.container-1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid #eee;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.06);
}

.child-1 {
   flex-wrap: wrap;
   padding: 80px;
   margin-left: auto;

    
}
.img-place-1 {
   
    width: 500px;
    height: 300px;
    padding-right: 80px;
    margin-right: auto;
    flex-wrap: wrap;    
}

.big-text-1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 60px;
  
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 150px;
    
    
}

.big-text-2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

}
.info img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 5px;
}

.text {
    color: #5f5f5f;
    font-weight: 400;
}
.container-3 {
    background-color: #E5E7EB;
    display: flex;    
}

.container-3 p{
    margin-left: 480px;
    margin-right: 480px;
    font-size: 36px;
    padding: 100px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}

span{
    float:right;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.container-4 {
   display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px; /* Optional, for spacing around */
   
}
.child-2 {
    

     display: flex;
    flex-direction: column;  /* Stack the text elements vertically */
    align-items: flex-start; /* Align text to the left */
    position: relative;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 30px 100px;
}
.small-text-1,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-2{

    position: absolute;      /* Absolute positioning of the button */
    right: 30px;             /* Place the button 30px from the right edge */
    top: 50%;    
    margin-right: 30px;            /* Vertically center the button */
    transform: translateY(-50%); /* Adjust for true centering */
    padding: 5px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #F9FAF8;
    color: #3882F6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight:900;
    color: #F9FAF8;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 10px 30px;
}

.sign-up-1, 
.sign-up-2,
.big-text-3,
.small-text-2 {
    background-color: #3882F6;
    color: #F9FAF8;
    
}
.big-text-3 {
   font-size: 16px;
    font-weight: bold;
    color: #F9FAF8;

    
    
}

.small-text-2 {
    color: #E5E7EB;
    max-width: 80%;
    
}
.sign-up-1 {
    margin-top: 5px;
      margin-left: auto;              /* Push the button to the right */
    padding: 8px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #F9FAF8;
    color: #3882F6;
    
    
}