@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
    padding-left:220px;
    padding-right: 220px;
    
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     border-top: 1px solid #eee;
  box-shadow: 4px 0px 0px 0px rgba(0,0,0,.06);
     
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: baseline;
    gap: 20px;
    padding: 10px 30px;
}

li {
    text-decoration: none;
}

.container-1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 20px;
     border-bottom: 3px solid #eee;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.06);
}

.child-1 {
    
   flex-wrap: wrap;
   padding: 80px;
   margin-left: auto;

    
}


.img-place-1 {
   
    width: 500px;
    height: 300px;
    padding-right: 80px;
    margin-right: auto;
    flex-wrap: wrap;
    
                                                                        
}

.big-text-1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    

  
}

.container-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 60px;
  
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 150px;
    
    
}

.big-text-2 {
    
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

}
.info img {
     width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 5px;
}

.text {
    color: #5f5f5f;
    font-weight: 400;
}
.container-3 {
    background-color: #E5E7EB;
     
}


p {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}




.small-text-1,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}


.logo {
    font-size: 24px;
    font-weight:900;
    color: #F9FAF8;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 10px 30px;
}

.sign-up-1, 
.sign-up-2,
.big-text-3,
.small-text-2 {
    background-color: #3882F6;
    color: #F9FAF8;
}

.sign-up-1 {
    margin-top: 10px;
    padding:8px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}